/* Components */
@import "./components/fonts.css";
@import "./components/badges.css";
@import "./components/buttons.css";
@import "./components/links.css";
@import "./components/table.css";
@import "./components/form.css";
@import "./components/input.css";
@import "./components/card.css";
@import "./components/alert.css";

/* Sections */
@import "./sections/skeleton.css";

@layer utilities {
    .ltr-direction {
        direction: ltr;
    }

    .hide-scrollbar {
        scrollbar-width: none;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply flex flex-col h-full;
}

body {
    @apply flex flex-col flex-1;

    font-family: "Vazirmatn UI FD";
}

.fi {
    @apply flex;
}

*[data-disabled="true"] {
    @apply pointer-events-none opacity-60;
}

header {
    @apply bg-white sticky top-0 left-0 right-0 z-50 h-[62px];

    .main-section {
        @apply bg-white relative z-10;

        > .container {
            @apply flex items-center justify-between h-[62px];
        }

        form.search {
            @apply relative flex items-center max-w-96 w-full mx-4;

            > input[type="text"] {
                @apply bg-stone-100 text-sm rounded pr-4 pl-10 h-10 w-full outline-none;
            }

            > .search-btn {
                @apply absolute left-3 text-stone-700;
            }
        }

        .auth-menu {
            @apply relative;

            [data-role="dropdown-trigger"] {
                @apply flex items-center rounded-md px-3 py-2;

                &[data-is-active="true"] {
                    @apply bg-sky-50;
                }
            }

            [data-role="dropdown-content"] {
                @apply bg-white shadow-lg absolute w-52 left-0 mt-0.5 rounded-md ring-1 ring-black ring-opacity-5 overflow-hidden;

                .item {
                    @apply flex items-center px-4 py-3 hover:bg-gray-100 w-full;

                    > .icon {
                        @apply flex items-center justify-center w-6;
                    }

                    .label {
                        @apply text-gray-700 text-sm mr-2;
                    }
                }
            }

            .bulb {
                @apply w-1.5 h-1.5 rounded-full bg-red-400 ring ring-red-200 animate-pulse mr-2;
            }
        }
    }

    > nav {
        @apply bg-white shadow-sm transition-transform data-[hidden=true]:-translate-y-full;

        .wrapper {
            @apply relative flex items-center;
        }

        .navbar-items {
            @apply flex items-center w-full md:w-auto;

            &::-webkit-scrollbar {
                @apply hidden;
            }

            .navbar-item {
                @apply flex items-center cursor-pointer whitespace-pre h-10;

                > .label {
                    @apply text-sm mr-2;
                }

                &.navbar-category-item {
                    @apply px-3 md:px-0;

                    > .label {
                        @apply text-base font-medium mr-3 hidden md:block;
                    }
                }
            }
        }

        .navbar-category-dropdown {
            @apply bg-white absolute right-0 left-0 shadow w-full rounded-b-lg min-h-[200px] max-h-72 overflow-hidden;

            .category-parents {
                @apply w-36 md:w-52 min-h-0 overflow-auto;

                .item {
                    @apply p-3 text-neutral-600 text-sm hover:bg-neutral-50 cursor-pointer;

                    &[data-is-active="true"] {
                        @apply bg-neutral-100 text-black font-semibold;
                    }
                }
            }

            .category-content {
                @apply flex-1 border-r border-neutral-100 text-sm p-3 overflow-auto;

                .category-children {
                    @apply w-full hidden data-[is-visible=true]:block;

                    ul {
                        @apply flex flex-col md:flex-wrap w-full;
                    }

                    .main-ul {
                        @apply h-[220px];

                        > li {
                            @apply mt-2 first:mt-0;

                            > a {
                                @apply font-semibold;
                            }
                        }
                    }

                    .sub-ul {
                        @apply mt-1;

                        > li {
                            @apply mt-1 first:mt-0;

                            a {
                                @apply text-neutral-600 hover:text-green-600;
                            }
                        }
                    }
                }
            }
        }

        #navbar-indicator {
            @apply absolute bottom-0 bg-neutral-800 h-[2px] pointer-events-none;
        }
    }
}

.container {
    @apply mx-auto max-w-[1200px] px-4;
}

.respect-navbar {
    @apply mt-10;
}

.main {
    @apply mb-5;
}

[data-role="variant-item"] {
    @apply flex items-center justify-center border-2 border-neutral-200 hover:border-neutral-400 select-none cursor-pointer;

    box-shadow: inset 0 0 0 4px white;

    &[data-selected="true"] {
        @apply border-neutral-600;
    }

    &[data-available="false"] {
        @apply opacity-50;
    }

    &[data-type="color"] {
        @apply w-10 h-10 rounded-full overflow-hidden;

        > div {
            @apply w-7 h-7 rounded-full;
        }
    }

    &[data-type="default"] {
        @apply rounded w-16 h-10;
    }
}

option[data-role="variant-item"][data-available="false"] {
    @apply text-neutral-500;
}

[data-role="cart-panel"] {
    &[data-disabled="true"] {
        @apply pointer-events-none opacity-60;
    }

    [data-role="cart-controls"][data-for="product"] {
        @apply select-none;

        .trigger {
            @apply flex items-center justify-center bg-white hover:bg-neutral-50 shadow w-12 h-11 outline-none;

            &:disabled {
                @apply pointer-events-none opacity-60;
            }
        }

        [data-role="cart-refresh"] {
            @apply rounded-r-lg text-red-500;
        }

        [data-role="cart-increase"] {
            @apply rounded-r-lg;
        }

        [data-role="cart-quantity"] {
            @apply flex items-center justify-center bg-white border-x border-neutral-200 shadow text-center leading-none w-16 h-11;
        }

        [data-role="cart-decrease"] {
            @apply rounded-l-lg;
        }

        [data-role="cart-remove"] {
            @apply rounded-l-lg text-red-500;
        }
    }

    [data-role="cart-controls"][data-for="cart"] {
        @apply text-sm select-none;

        .trigger {
            @apply flex items-center justify-center bg-white hover:bg-neutral-50 border border-neutral-300 w-10 h-10 outline-none;

            &:disabled {
                @apply pointer-events-none opacity-50;
            }
        }

        [data-role="cart-refresh"] {
            @apply rounded-r-lg text-red-500;
        }

        [data-role="cart-increase"] {
            @apply rounded-r-lg;
        }

        [data-role="cart-quantity"] {
            @apply flex items-center justify-center bg-white -mx-px border border-neutral-300 text-center leading-none w-16 h-10;
        }

        [data-role="cart-decrease"] {
            @apply rounded-l-lg;
        }

        [data-role="cart-remove"] {
            @apply rounded-l-lg text-red-500;
        }
    }
}

.product-tabs {
    > ul {
        @apply flex space-x-5 space-x-reverse;

        li {
            @apply flex items-center justify-center text-neutral-500 h-10 cursor-pointer;

            &[data-active="true"] {
                @apply border-b-2 border-neutral-500 text-neutral-800;
            }
        }
    }

    .tab-sections {
        > .tab-section {
            @apply bg-stone-50 p-3 text-[15px] hidden;

            &[data-active="true"] {
                @apply block;
            }
        }
    }
}

.comments {
    @apply flex-1;

    .comments-list {
        @apply space-y-5;

        .comment {
            @apply border border-neutral-200 rounded-lg;

            .comment-header {
                @apply flex items-center justify-between leading-none text-sm p-3 border-b border-neutral-200;

                .comment-details {
                    @apply space-x-2 space-x-reverse;
                }

                .comment-date {
                    @apply text-xs;
                }
            }

            .comment-body {
                @apply p-3;
            }

            .comment-footer {
                @apply flex items-center border-t border-neutral-200 p-3 leading-none;
            }

            .delete-comment {
                @apply text-danger text-xs disabled:opacity-60 disabled:pointer-events-none;
            }

            .badge {
                @apply px-2 py-0.5 rounded-full;
            }
        }
    }

    .comments-loading {
        @apply flex justify-center p-3 border border-neutral-200 rounded-lg;
    }

    .comments-pagination {
        @apply flex items-center justify-between;

        [data-disabled="true"] {
            @apply opacity-60 pointer-events-none;
        }
    }

    &[data-status="loading"] {
        .comments-list {
            @apply hidden;
        }

        .comments-pagination {
            @apply hidden;
        }
    }

    &[data-status="done"] {
        .comments-loading {
            @apply hidden;
        }
    }
}

[data-state="visibility"] {
    &[data-value="true"] {
        [data-value="false"] {
            @apply hidden;
        }
    }

    &[data-value="false"] {
        [data-value="true"] {
            @apply hidden;
        }
    }
}
